<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode
      nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;"
      debuggingEnabled="false"
      loggingEnabled="false"
      logDirectory="iisnode"
      watchedFiles="*.js;iisnode.yml"
      node_env="production"
    />
    <rewrite>
      <rules>
        <!-- 靜態檔案規則 -->
        <rule name="Static Files" stopProcessing="true">
          <match url="^_next/static/(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="_next/static/{R:1}" />
        </rule>

        <!-- taiwan-nightmarket 靜態資源 -->
        <rule name="taiwan-nightmarket Static" stopProcessing="true">
          <match url="^taiwan-nightmarket/_next/static/(.*)$" />
          <action type="Rewrite" url="_next/static/{R:1}" />
        </rule>

        <!-- taiwan-nightmarket 路徑規則 -->
        <rule name="taiwan-nightmarket Routes" stopProcessing="true">
          <match url="^taiwan-nightmarket/*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>

        <!-- 動態內容規則 -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- 加入 MIME 類型映射 -->
    <staticContent>
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough"/>
  </system.webServer>
</configuration>