.sectionsContainer {
  position: relative;
  z-index: 3;
  background-color: #FFFCF8;
  margin-top: 100vh; 
}

.section {
  position: relative;
  z-index: 1;
}

.pageContainer {
  position: relative;
}

.mainContent {
  position: relative;
  z-index: 10;
  background: #FFFCF8;
}

@media screen and (max-width: 768px) {

  .sectionsContainer {
    margin-top: 50vh; 
  }
}
